@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

@media screen and (min-width: 992px) {
    /*For Large Laptops*/
    .move-down {
        margin-bottom: -8em;
    }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
}
